@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('../font/InterVariableFont.ttf') format('truetype');
}

body {
  font-family: 'Inter';
  /* font-weight: 500; */
}


.home-page {
  background-color: #f0f1f3;
  display: flex;
}

.logIn__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  margin-top: 4rem;
  margin-bottom: 2rem;
}

.lg__Ttl h2 {
  font-size: 30px;
  line-height: 38px;
  font-weight: 600;
  color: #2b2f38;
  text-align: center;
  margin-bottom: 12px;
}

.lg__Ttl p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #667085;
  text-align: center;
}

.input__Fld input {
  flex: 1;
  height: 44px;
  color: black;
  border: 1px solid #d0d5dd;
  outline: none;
  padding: 10px 14px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  transition: 0.3s ease-in-out;
}

.input__Fld input::placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #667085;
}

.lg__Mn-cnt {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.lg__Fld {
  margin-bottom: 20px;
}

.input__Fld {
  flex: 1;
}

.rem__Div {
  margin-bottom: 24px;
  padding-top: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lg__Fld label,
.rm_Pass label,
.frg__Pas span {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #48505e;
}

.frg__Pas span {
  color: #1366d9;
  cursor: pointer;
}

.sbt__Btn button {
  width: 100%;
  padding: 10px 18px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #fff;
  background: #1366d9;
  border: 1px solid #1366d9;
  box-shadow: 0px 1px 2px 0px #1018280d;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.sbt__Btn button:hover {
  color: #1366d9;
  background: #fff;
}

.ck__Act p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #667085;
  text-align: center;
}

.ck__Act p span {
  color: #1366d9;
  font-weight: 500;
  cursor: pointer;
}

.ck__Act {
  margin-top: 2rem;
}

.lg__Box input:focus-visible {
  outline: none;
  border: 1px solid #1366d9;
}

.info {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #667085;
  margin-top: 6px;
  margin-bottom: 4px;
  display: inline-block;
}

.rm_Pass label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.navigation-list {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  color: black;

  height: 100vh;
  align-items: center;

  margin-top: 40%;
}
.each-navigation {
  width: -webkit-fill-available;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 15px;
}
.Nav-icon {
  margin-left: 20px;
}
.Nav-display-name {
  font-size: larger;
  margin-left: 10px;
}

.navigation-selected {
  background-color: lavender;

  color: black;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 15px;
  font-weight: bold;
}

/* .AddProject__wrap {
  width: 30rem;
} */

.AddprojectCard h2 {
  color: rgba(56, 62, 73, 1);
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}

.deatails__Box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.fields__Box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.deatails__Fld {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.deatails__Fld p {
  width: 150px;
  color: rgba(72, 80, 94, 1);
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
}

.Btns__container {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.add__Btn,
.payrollSub__Btn,
.payrollAdd__Btn button {
  padding: 10px 18px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #fff;
  background: #1366d9;
  border: 1px solid #1366d9;
  box-shadow: 0px 1px 2px 0px #1018280d;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.add__Btn button:hover {
  color: #1366d9;
  background: #fff;
}

.dcrd__Btn button {
  padding: 10px 18px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: rgb(158, 158, 158);
  border: 1px solid rgb(158, 158, 158);
  box-shadow: 0px 1px 2px 0px #1018280d;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.OnboardingFormWraper {
  display: flex;
  justify-content: center;
}

.OnboardingFormCard {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  width: 30rem;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.OnboardingFormCard h2 {
  color: rgba(56, 62, 73, 1);
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 28px;
  white-space: nowrap;
}

/* .OnboardingFormCard .input__Fld {
  flex: 1;
  height: 44px;
  color: black;
  border: 1px solid #d0d5dd;
  outline: none;
  padding: 10px 14px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  transition: 0.3s ease-in-out;
  width: 0;
} */

.auto__Fld,
.text__Fld {
  flex: 1;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.ReceiptCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.ReceiptCard h2 {
  font-weight: bold;
  color: black;
  font-size: 30px;
}

.ReceiptCard .details__Box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ReceiptCard .details__Fld {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.PayrollCard {
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: white;
}

.PayrollCard h2 {
  font-size: 20px;
  font-weight: 500;
}

.prDeatails__Box,
.prFields__Box {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.prDeatails__Fld {
  display: flex;
  align-items: center;
  gap: 10px;
}

.prDeatails__Fld .colon {
  font-size: 20px;
}

.prDeatails__Fld p {
  flex: 1;
}

.nText__Fld {
  flex: 3;
}

/* .aText__Fld {
  flex: 2;
} */

.payrollAdd__Btn {
  text-align: right;
}
.payrollSub__Btn {
  text-align: center;
}
